# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data
data/raw/raw_data.csv
etl_run.log

# MacOS specific files
.DS_Store

# Reports and logs
reports/cleaning_report.csv

# IDE specific files
.vscode/
.idea/
.DS_Store
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data (Raw and Large subsets)
# We usually ignore the massive raw data files
data/raw_data.csv

# Keep the clean data for BI tools, OR ignore if you want to regenerate it every time:
# data/clean_data.csv

# MacOS specific files
.DS_Store

# Reports and logs
reports/cleaning_report.csv

# IDE specific files
.vscode/
.idea/
.DS_Store
